<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests.bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="true"
>
    <php>
        <var name="db_type" value="pdo_mysql"/>
        <var name="db_host" value="localhost" />
        <var name="db_username" value="travis" />
        <var name="db_password" value="" />
        <var name="db_name" value="doctrine_tests" />
        <var name="db_port" value="3306"/>
    </php>
    <filter>
    <blacklist>
        <directory>project</directory>
        <directory>tests</directory>
    </blacklist>
    <whitelist>
        <directory>src</directory>
    </whitelist>
  </filter>
    <log type="coverage-clover" target="coverage.xml"/>
    <testsuites>
        <testsuite name="tests">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>